.pulse {
    background-color: none;
    border-radius: 50%;
    animation: pulse-effect 2s infinite;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

@keyframes pulse-effect {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 #f8f8f850;
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }

    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}