@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html {
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;

}

body {
    min-width: 400px;
}

a[href="https://www.tomorrow.io/weather-api/"] {
    display: none !important;

}

.MuiTabs-scrollButtons.Mui-disabled {
    opacity: 0.3;
}