@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    min-width: 400px;
}

a[href="https://www.tomorrow.io/weather-api/"] {
    display: none !important;

}